.App {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.App form {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.App h1 {
  font-size: 32px;
  text-align: center;
}

.decks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-gap: 20px;
  width: 85vw;
  margin: 0 auto;
  color: black;
}

.decks-small {
  width: 45vw;
}

.decks li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: white;
  border: 1px solid white;
  border-radius: 10px;
}

.decks li button {
  position: absolute;
  font-size: 10px;
  top: 0;
  right: 5px;
}

/* Loader */

.loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
